<!DOCTYPE html>
<html>

<head>
    <link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <script>
    </script>
    <!-- CSS only -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>

    <link rel="stylesheet" href="css.css">
    <meta charset="UTF-8">
    <title>Launch a Game with the BrickPlayer client</title>
    <script>
        window.$ = window.jQuery = require('jquery');
    </script>

</head>

<body>
    <div id="app">
        <style lang="stylus">
            getColor(vsColor, alpha=1) unquote("rgba(var(--vs-"+vsColor+"), "+alpha+")") getVar(var) unquote("var(--vs-"+var+")") .not-margin margin 0px font-weight normal padding 10px .con-form width 100% .flex display flex align-items center justify-content space-between a font-size .8rem opacity .7 &:hover opacity 1 .vs-checkbox-label font-size .8rem .vs-input-content margin 10px 0px width calc(100%) .vs-input width 100% .footer-dialog display flex align-items center justify-content center flex-direction column width calc(100%) .new margin 0px margin-top 20px padding: 0px font-size .7rem a color getColor('primary') !important margin-left 6px &:hover text-decoration underline .vs-button margin 0px
        </style>
        <vs-alert gradient>
            <template #title>
          Work In Progress
        </template> Launcher can be buggy, no worries doe! we're working on improving it.
        </vs-alert>

        <template>
          <div class="center">
            <vs-button @click="active=!active">
              Open Dialog
            </vs-button>
            <vs-dialog v-model="active">
              <template #header>
                <h4 class="not-margin">
                  Welcome to the <b>BrickPlayer Launcher</b>
                </h4>
              </template>


        <div class="con-form">
            <vs-input v-model="username" placeholder="username">
                <template #icon>
                    =>
                  </template>
            </vs-input>
            <vs-input type="password" v-model="password" placeholder="Password">
                <template #icon>
                    <i class='bx bxs-lock'>!</i>
                  </template>
            </vs-input>
            <vs-input v-model="SetID" placeholder="SetID">
                <template #icon>
                :D</template>
            </vs-input>
            <vs-button block @click="open">
                Play
            </vs-button>

            <template #footer>
                <div class="footer-dialog">
              
                </div>
              </template>
            </vs-dialog>
        </div>
        </template>
        <template>
          <div class="center">
            <vs-button @click="active2=!active2">
              Get IP and Port
            </vs-button>
            <vs-dialog v-model="active2">
              <template #header>
                <h4 class="not-margin">
                  Welcome to the <b>BrickPlayer Launcher</b>
                </h4>
              </template>


        <div class="con-form">
            <vs-input v-model="SetID" placeholder="SetID">
                <template #icon>
                :D</template>
            </vs-input>
            <vs-label>This is if you want to launch from the client rather than from the launcher.</vs-label>
            <vs-button block @click="getportandip">
                Get Info
            </vs-button>
            <p v-if="seedata==true">Port: {{port}} || ip: {{ip}}</p>
            <template #footer>
                <div class="footer-dialog">
              
                </div>
              </template>
            </vs-dialog>
        </div>
        </template>
    </div>

</body>
<script>
    phin = require('phin')
    cheerio = require('cheerio')
    const axios = require('axios').default;
    var app = new Vue({
        el: '#app',

        data: {
            seedata: false,
            SetID: '',
            active: false,
            ipport: false,
            ip: '',
            port: '',
            cookie: '',
            username: '',
            password: '',
            active2: false
        },
        methods: {

            getportandip: async function getIPandPort() {
                console.log("1 done")
                let rawdata = axios.get('https://www.brick-hill.com/play/${this.SetID}').then(resp => {

                    let $ = cheerio.load(resp.data)
                    console.log("data gathered")
                    console.log(resp.data)
                });
                console.log("2 done")
                let pbutton = $('play-button')
                this.seedata = true;

                return {
                    [this.ip]: this.SetID,
                    [this.port]: "hmm"
                }

            },
            open: function() {

                const {
                    shell
                } = require('electron')

                shell.openExternal('https://google.com')
            },
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
    
</script>

</html>